<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
</head>
<body>

    <div class="divs">este es el div1 <br>
        mi nombre es {{nombre}}
    </div>

    <div class="divs">este es el div2</div>

    <div class="divs">este es el div3 <br>
        y mi edad {{edad}}
    </div>

    <div class="divs">este es el div4 <br>
    {{momento}}
    </div>

</body>
<style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 600px;
    }

    .divs{
        background-color: rgba(128, 128, 128, 0.671);
        border: 2px black solid;
        border-radius: 6px;
        width: 80%;
        height: 20%;
        text-align: center;
    }

</style>
</html>